@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}



:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e; 


    --font-padrao: arial,Verdana,Helvetica, sans-serif;
    --fon-android:'android',sans-serif;
    --font-destaque: 'Bebas Neue', serif;

}
body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
   
}
*{
margin: 0px;
padding: 0px;
}
header {
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor5));
    min-height: 150px; 
    padding-top: 30px;
    text-align: center;
    
}
header > h1 {
    color: white;
    margin-bottom: 25px; 
    font-family: var(--font-destaque);
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.101);

} 
header > p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.142);



   
}
nav {
    background-color: var(--cor5);
    padding: 10px;
}
nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}
nav >:hover {
    color: brown;
    background-color: var(--cor4);

}
main {
    background-color: white;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;

}
 main img {
    width: 100%; 
} 

main h1 {
    color: var(--cor4);
    font-family: var(--fon-android);
}
main h2 {
    font-family: var(--fon-android);
}
main img.pequena {
    width: 60%; 
    display: block;
    margin: auto;

}
footer {
    text-align: center;
    padding: 10px;
}
